<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/Assets/css/myproject.css">
    <title>Welcome to the last Day</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <img src="https://dumbways.id/assets/images/brandred.png" style="width: 60px; margin-right: 35px;"/>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-home" aria-current="page" href="/">Home</a>
                        <!-- nav link active utk membuat link menjadi aktif terus, saat tidak di klik pun menyala -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/myproject">Add Project</a>
                    </li>
                </ul>
                <a href="/register" class="bg-orange1 px-1"><span>Register</span></a>
                <a href="/login" class="bg-orange1 px-1"><span>Login</span></a>
                <a href="/contact" class="bg-orange text-light px-1"><span>Contact Me</span></a>
                <!-- p itu adalah padding, px itu padding kanan kiri, py itu padding atas bawah, dan maksimal semua di 5 -->
            </div>
        </div>
    </nav>
    <div class="form-submit1">
        <form action="/login" method="post">
            <div class="judul">FORM LOGIN</div>

            {{#if messages.danger}}
            <div class="alert alert-danger d-flex align-items-center loginFailed" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            <div class="nameLogin">
                {{messages.danger}}
            </div>
            </div>
            {{/if}}

            <div class="project-name">
                <label for="inputEmail">Email</label>
                <input class="form-control" id="inputEmail" name="inputEmail" type="email">
            </div>
            <div class="project-name">
                <label for="inputPassword">Password</label>
                <input class="form-control" id="inputPassword" name="inputPassword" type="password">
            </div>
            <button type="submit" class="bg-color">Login</button>
        </form>
    </div>
    <!-- <div class="my-project">
        <h1 id="demo" style="margin-bottom: 50px; margin-top: 0px;">"MY PROJECT"</h1>
        <div id="blog">
            <div class="blog-detail-satu">
                    <div class="blog-detail-container-satu">
                        <div style="width: 100%; height: 300px; overflow: hidden; position: relative;">
                            <img src="Assets/gambar 4.png" style="max-width: 100%; position: absolute;">
                        </div>
                        <div>
                            <p id="input-project-name" style="margin-top: 10px; margin-left: 13px; margin-bottom: 5px; font-size: 35px; font-family: 'Segoe UI'; font-weight: bold;">Dumbways project 1</p>
                        </div>
                        <div class="durasi" style="margin-top: 2px; margin-left: 15px; margin-bottom: 0px; color: grey">Show Post : sameday</div>
                        <div style="text-align: left; margin-top: 0px; margin-left: 15px;">
                        <span style="font-size:12px; color: grey;">Duration : -</span>
                        </div>
                        <div class="deskripsi">
                            <p style="
                                margin-top: 25px; margin-left: 13px; margin-right: 50px; text-align: justify; font-size: 18px; font-family: 'Segoe UI';">
                                <b>ٱلسَّلَامُ عَلَيْكُمْ وَرَحْمَةُ ٱللَّٰهِ وَبَرَكَاتُهُ</b><br/>
                                <br/>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, sunt optio cupiditate rerum alias enim aspernatur
                            </p>
                        </div>
                        <div>
                            <span><i style="margin-left: 13px; margin-top: 20px; margin-left: 20px; font-size: 30px;" class="fa-brands fa-js"></i></span>
                            <span><i style="margin-left: 13px; margin-top: 20px; margin-left: 20px; font-size: 30px;" class="fa-brands fa-php"></i></span>
                            <span><i style="margin-left: 13px; margin-top: 20px; margin-left: 20px; font-size: 30px;" class="fa-brands fa-react"></i></span>
                            <span><i style="margin-left: 13px; margin-top: 20px; margin-left: 20px; font-size: 30px;" class="fa-brands fa-node-js"></i></span>
                        </div>
                        <div class="edit-dan-delete">
                            <div class="edit-satu">
                                <a href="myproject-detail.html" title="edit">
                                    <button>edit</button>
                                </a>
                            </div>
                            <div class="edit-dua">
                                <button>delete</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div> -->
</body>
{{!-- <script src="/Assets/js/myproject.js"></script> --}}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>